.shape{
	width: 100px;
	height: 100px;
	background-color: indianred;
	opacity: 0.5;
	margin: 10px;
}
.dua{
	background-color: indigo;
	position: absolute;
	top: 50px;
	left: 50px;
	opacity: 0.3;	
}
.tiga{
	position: absolute;
	top: 75px;
	left: 75px;
}