h1{ 
    color: salmon;
    text-transform: uppercase;
    text-decoration: wavy;
    text-align: center;
}

p{
   color: gray;
   text-indent: 10px;
   text-decoration: line-through;
   text-transform: capitalize;
   letter-spacing: 3px;
   word-spacing: 3px;
}
